.digit {
  position: relative;
  width: 1em;
  height: 1.5em;
  line-height: 1.4em;
  font-weight: bold;
  text-align: center;
  --digit-border-radius: 0.125em;
  perspective: 256px;
  transform-style: preserve-3d;

  &__split {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: color($grey, 700);
    border-radius: var(--digit-border-radius);

    &::before,
    &::after {
      content: attr(data-digit);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: var(--text-secondary);
      color: color(white);
      transform-origin: 50% 50%;
      transition: transition(transform, $duration: 500ms);
      backface-visibility: hidden;
      text-shadow: var(--text-primary) 0 0 0.25em;
      border-radius: var(--digit-border-radius);
    }

    &::before {
      clip-path: polygon(0 0, 100% 0%, 100% 49%, 0 49%);
      z-index: 1;
    }

    &::after {
      clip-path: polygon(0 51%, 100% 51%, 100% 100%, 0 100%);
    }

    &--enter {
      &::before {
        opacity: 0;
      }

      &::after {
        transform: rotateX(180deg);
      }

      &-active,
      &-done {
        &::before {
          opacity: 1;
          transition: transition(opacity, $duration: 250ms);
        }

        &::after {
          z-index: 2;
          transform: rotateX(0deg);
        }
      }
    }

    &--exit {
      &::before {
        transform: rotateX(0deg);
        box-shadow: inset 0 1px 1px var(--text-disabled);
      }

      &-active,
      &-done {
        &::before {
          transform: rotateX(-180deg);
        }

        &::after {
          opacity: 0;
          transition: transition(opacity, $duration: 500ms);
        }
      }
    }
  }
}
