.button-input {
  display: flex;
  align-items: stretch;
  border: 0.125rem solid var(--accent);
  border-radius: 0.5rem;
  padding: 0.125rem;

  &__button,
  &__input {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    padding: 0rem 1rem;
    border-radius: 0.25rem;
    border: 0;
    outline: none;
    appearance: none;
  }

  &__input {
    flex: 1;
    color: var(--foreground);

    &::placeholder {
      color: var(--text-disabled);
    }
  }

  &__button {
    background-color: var(--accent);
    color: var(--accent-white);
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 2rem;
    padding-bottom: 0.25rem;
    box-shadow: inset 0 -0.25rem 0 0 var(--accent-dark);
    text-shadow: 0 -1px 0 var(--accent-dark);

    &:hover,
    &:focus,
    &:active {
      color: color(white);
    }

    &:active {
      box-shadow: inset 0 0.25rem 0 0 var(--accent-dark);
      padding-top: 0.25rem;
      padding-bottom: 0;
    }
  }

  &:focus-within {
    box-shadow: 0 0 0 0.25rem var(--accent-translucent);
  }
}
