.card-stack {
  position: relative;
  width: calc(min(100%, 20rem));
  height: calc(min(100%, 20rem) / 55 * 90);
  margin: 0 auto;

  &__card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
