.room {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    &::before {
      content: "";
    }

    .room-code {
      transform: rotate(10deg);
    }
  }

  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .room--loading & {
      transform: translateY(50vh);
      opacity: 0;
    }
  }

  &__loading {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 10rem;
    height: 10rem;
    margin: -5rem;
    transform: translateY(-50vh);
    opacity: 0;

    .room--loading & {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.session {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  h3 {
    font-size: 2rem;
    margin: 0 0 2rem;
    color: var(--text-secondary);
  }

  p {
    font-size: 1.5rem;
    margin: 2rem 0 0;
    color: var(--text-secondary);
    line-height: 1.5;

    a {
      color: var(--text-accent);
      text-decoration: none;
      background-color: color($accent, $opacity: 0.25);
      border-radius: 0.25em;
      padding: 0 0.5rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin-top: 2rem;
    min-height: 4.5rem;

    .button {
      flex: 1 1 0;
      font-size: 4rem;

      + .button {
        margin-left: 2rem;
      }
    }
  }
}
