.room {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    &::before {
      content: "";
    }

    .room-code {
      transform: rotate(10deg);
    }
  }
}

// .room-code {
// }

// .squad,
// .room {
//   flex: 1;
//   align-self: stretch;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   overflow: hidden;
// }

// .room {
//   &__instructions {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: flex-end;
//     position: relative;
//     padding-top: 20rem;

//     > * {
//       transform: translateY(25vh);
//       opacity: 0;
//       pointer-events: none;
//       touch-action: none;
//     }
//   }

//   .room-code {
//     font-size: 2rem;
//     transform: scale(0.5) rotate(5deg);

//     &-wrapper {
//       position: fixed;
//       top: -4rem;
//       right: -4rem;
//       transform: none;
//       opacity: 1;
//     }
//   }

//   &--waiting {
//     .room__instructions {
//       > * {
//         transform: translateY(0);
//         opacity: 1;
//         pointer-events: initial;
//         touch-action: initial;
//       }
//     }

//     .room-code {
//       transform: scale(1) rotate(0);

//       &-wrapper {
//         position: absolute;
//         top: 0;
//         right: 50%;
//         margin: 0 -10rem;
//         transform: none;
//       }
//     }
//   }

//   &--entering {
//     .room-code {
//       transform: scale(1) rotate(0);

//       &-wrapper {
//         position: absolute;
//         top: 0;
//         right: 50%;
//         margin: 0 -10rem;
//         transform: translateY(25vh);
//         opacity: 0;
//       }
//     }
//   }
// }
