@font-face {
  font-family: 'DINRoundPro';
  src: url('../fonts/DINRoundPro.woff2') format('woff2'),
      url('../fonts/DINRoundPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINRoundPro';
  src: url('../fonts/DINRoundPro-Bold.woff2') format('woff2'),
      url('../fonts/DINRoundPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINRoundPro';
  src: url('../fonts/DINRoundPro-Black.woff2') format('woff2'),
      url('../fonts/DINRoundPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINRoundPro';
  src: url('../fonts/DINRoundPro-Light.woff2') format('woff2'),
      url('../fonts/DINRoundPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINRoundPro-Medi';
  src: url('../fonts/DINRoundPro-Medi.woff2') format('woff2'),
      url('../fonts/DINRoundPro-Medi.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
